@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family: 'Lato', sans-serif;
}

p {
	font-size: 16px;
	line-height: 1.3;
}

.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

/*---CAROUSEL---*/
.carousel-caption {
	top: 5%;
	color: black;
}

.carousel h3 {
	font-size: 38px;
	font-weight: bold;
}

.carousel-indicators {
	left: 0;
	margin-left: 0;
	width: 100%;
}

.carousel-indicators li {
	width: 81px;
	height: 81px;
	border-radius: 0;
	border: none;
	text-indent: inherit;
	margin: 0 80px;
}

.carousel-indicators .active {
	background-color: transparent;
	margin: 0 80px;
	width: 81px;
	height: 81px;
	border: solid 2px white;
}

/*---NAVIGTION*---*/
.affix {
	top: 0;
}

.navbar {
	margin-bottom: 0;
	background-color: white;
	width: 100%;
}

.nav>li {
	height: 70px;
}

.nav>li>a {
	font-size: 20px;
	text-transform: uppercase;
	padding: 25px;
	color: black;
	margin: 5px;
	height: 80px;
	top: -10px;
}

.nav>li>.home,

.nav>li>.home, .nav>li>.home:hover {
	background-color: rgba(223, 187, 66, 0.6);
	color: white;
}

.nav>li>.menu2:hover {
	background-color: rgba(196, 52, 52, 0.6);
	background-size: 110%;
}

.nav>li>.menu3:hover {
	background-color: rgba(80, 139, 97, 0.6);
}

.nav>li>.menu4:hover {
	background-color: rgba(66, 141, 158, 0.6);
}

.navbar-brand {
	padding: 10px 20px 0 20px;
	height: 60px;
}

.navbar-brand img {
	height: 100%;
}

.icon-bar {
	background-color: black;
}

/*---TABS - TEXT BOXES---*/
.tabs {
	background-color: #f1f1f1;
	padding: 20px 0;
}

.tab-content {
	padding: 75px 120px;
}

.tabs>li>a {
	text-transform: uppercase;
}

.tab-content p, .tab-content h3 {
	background-color: white;
	padding: 30px;
	margin: 0;
}

#box1 {
	border: 1px solid #3d808f;
}

#box1 h3 {
	color: #3d808f;
}

#box2 {
	border: 1px solid #c43434;
}

#box2 h3 {
	color: #c43434;
}

#box3 {
	border: 1px solid #dfbb42;
}
#box3 h3 {
	color: #dfbb42;
}

#box4 {
	border: 1px solid #508b61;
}

#box4 h3 {
	color: #508b61;
}

.tabs .nav li:first-child a {
	color: #3d808f;
}

.tabs .nav li:nth-child(2) a {
	background-color: #c43434;
	color: white;
}

.tabs .nav li:nth-child(3) a {
	background-color: #dfbb42;
	color: white;
}

.tabs .nav li:nth-child(4) a {
	background-color: #508b61;
	color: white;
}

/*---GALLERY---*/
.gallery {
	background-image: url('images/background-gallery.jpg');
	background-repeat: repeat-y;
	padding: 30px 50px;
}

.row {
	margin-top: 60px;
}

.layer-background {
	width: 262px;
	height: 489px;
	background-color: white;
	display: flex;
	justify-content: center;
	margin: auto;
	padding-top: 20px;
}

.gallery .row div:first-child .layer-background {
	border-top: 10px solid #8393ca;
}

.gallery .row div:nth-child(2) .layer-background {
	border-top: 10px solid #faad81;
}

.gallery .row div:nth-child(3) .layer-background {
	border-top: 10px solid #a3d49c;
}

.gallery .row div:nth-child(4) .layer-background {
	border-top: 10px solid #e5b6e7;
}

.layer1 {
	width: 232px;
	height: 439px;
	display: flex;
	justify-content: center;
	background-color: white;
	padding: 25px 0;
}

.gallery .row div:first-child .layer1 {
	background-image: url('images/image1.jpg');
}

.gallery .row div:nth-child(2) .layer1 {
	background-image: url('images/image2.jpg');
}

.gallery .row div:nth-child(3) .layer1 {
	background-image: url('images/image3.jpg');
}

.gallery .row div:nth-child(4) .layer1 {
	background-image: url('images/image4.jpg');
}

.layer1:hover {
	width: 230px;
	height: 230px;
	transition: .3s;
	border-radius: 50%;
}

.layer1 h2 {
	color: #8393ca;
	position: absolute;
	text-align: center;
	line-height: 45px;
	width: 232px;
	height: 439px;
	opacity: 0;
	padding: 0;
	margin: 0;
}

.layer1:hover h2 {
	opacity: 1;
	text-transform: uppercase;
	transition: .3s;
	height: 100%;
	bottom: -300px;
}

.gallery .row div:nth-child(2) h2 {
	color: #faad81;
}

.gallery .row div:nth-child(3) h2 {
	color: #a3d49c;
}

.gallery .row div:nth-child(4) h2 {
	color: #e5b6e7;
}

/*---GALLERY - MENU3---*/
.layer2 {
	margin: auto;
	width: 367px;
	height: 612px;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	background-repeat: no-repeat;
}

#menu4 div:first-child .layer2 {
	background-image: url('images/image5.jpg');
}

#menu4 div:nth-child(2) .layer2 {
	background-image: url('images/image6.jpg');
}

.layer2 div {
	width: 330px;
	height: 612px;
	background-image: -webkit-linear-gradient(118deg, transparent 50%, rgba(255,255,255, 0.8) 50%);
	background-image: linear-gradient(118deg, transparent 50%, rgba(255,255,255, 0.8) 50%);	
}

#menu4 div:nth-child(2) .layer2 div {
	background-image: -webkit-linear-gradient(242deg, transparent 50%, rgba(255,255,255, 0.8) 50%);
	background-image: linear-gradient(242deg, transparent 50%, rgba(255,255,255, 0.8) 50%);
}

.layer2 button {
	width: 140px;
	height: 100px;
	border: none;
	position: relative;
	top: 510px;
	left: 190px;
	background-color: transparent;
}

#menu4 div:nth-child(2) .layer2 button {
	left: 0;
}

.layer2 button:hover {
	background-color: rgba(255,255,255, 0.4);
}

.layer2 button:focus {
	outline: none;
}

.glyphicon {
	font-size: 75px;
	letter-spacing: -0.5em;
}

#menu4 div:nth-child(2) .glyphicon {
	left: -40px;
}

/*---LIST---*/
.list {
	color: black;
	background-color: white;
	padding: 0;
}

.list .row {
	margin: 0;
}

.list h3 {
	text-decoration: underline;
	-moz-text-decoration-color: #1883b4; 
	text-decoration-color: #1883b4;
}

.title {
	background-color: #7ec8ea;
	margin: 0;
	padding: 0 15px;
}

/*---MEDIA QUERIES---*/
@media (min-width: 1199px) {
	.list {
		height: 612px; 
	}
}

/*---MEDIA QUERIES---*/
@media (max-width: 1199px) {
	#menu3 div {
		padding: 20px;
	}

	.list {
		margin-top: 30px;
	}
}

@media (max-width: 767px) {
	.carousel-caption h3 {
		font-size: 28px;
	}

	.tab-content {
		padding: 35px 20px;
	}

	#menu3 div, #menu4>div {
		padding: 20px;
	}

	.list {
		margin-top: 30px;
	}

	.carousel-indicators li, .carousel-indicators .active {
		height: 50px;
		width: 50px;
		margin: 0 30px;
	}

	.carousel-indicators img {
		width: 50px;
		height: 50px;
	}

	.carousel-indicators {
		left: 0;
		margin-left: 0;
		width: 100%;
	}
}